{% extends 'base.html' %}

{% block content %}
<div>
    <h3>Edit Member</h3>
    <form action="/members/edit/{{member.id}}" method="post">
        <label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name" value="{{member.first_name}}"> <br>
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name" value="{{member.last_name}}"> <br>
        <label for="age">Age</label>
        <input type="number" name="age" id="age"  value="{{member.age}}"min="14" max="120"> <br>
        <label for="membership_type">Membership type</label>
        <select name="membership_type" id="membership_type" value="{{member.membership_type}}"">
            <option value="standard">Standard</option>
            <option value="pro">Pro</option>
        </select> <br>
        <button type="submit">Submit</button>
    </form>
</div>


{% endblock content %}