{% extends 'base.html' %}

{% block content %}
<h1>Members</h1>

<div>
    <p>
        
        <h3>All Members</h3>
        {% for member in members %}

        <div class="memberContainer">
            <div class="informationPanel">
                <label for="first_name">First Name = {{ member.first_name }}</label>
                <label for="last_name">Last Name = {{ member.last_name }}</label>
                <label for="age">Age = {{ member.age }}</label>
                <label for="membership_type">Membership Type = {{ member.membership_type }}</label>
                <a href="/members/show/{{member.id}}">Show member info and classes</a>
            </div>
            <form action="/members/delete/{{ member.id }}" method="POST">
                <input type="submit" value="Remove">
            </form>
        </div>
            
        {% endfor %}
    </p>
</div>
<div>
    <h3>Add New Member</h3>
    <form action="/members/new" method="post">
        <label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name"> <br>
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name"> <br>
        <label for="age">Age</label>
        <input type="number" name="age" id="age" min="14" max="120"> <br>
        <label for="membership_type">Membership type</label>
        <select name="membership_type" id="membership_type">
            <option value="standard">Standard</option>
            <option value="pro">Pro</option>
        </select> <br>
        <input type="submit" value="Add Member">
        <!-- <button type="submit" value="Add Member">Add Member</button> -->
    </form>
</div>
{% endblock content %}