{% extends 'base.html' %}

{% block content %}
    
<h1>Bookings</h1>


<form action="/bookings" method="POST">

    <label for="member_id">Select a member</label>
    <select name="member_id" id="member_id">
        {% for member in members %}
        <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
        {% endfor %}
    </select> <br>
    <label for="gymclass_id">Select a class</label>
    <select name="gymclass_id" id="gymclass_id">
        {% for gymclass in gymclasses %}
        <option value="{{gymclass.id}}">{{ gymclass.activity_name }}</option>
        {% endfor %}
    </select> <br>
    <input type="submit" value="Submit">

    
</form>

<div>
    <p>
        <h3>All Bookings</h3>
        <ul>
        {% for booking in bookings %}
        <li> {{ booking.member.first_name }} {{ booking.member.last_name }} -- {{ booking.gymclass.activity_name}} -- {{ booking.gymclass.start_time }} </li>
        <form action="/bookings/delete/{{ booking.id }}" method="POST">
            <input type="submit" value="Remove">
        </form>
        {% endfor %}
        </ul>
    </p>
</div>

{% endblock content %}