<!--DOCTYPE html>
<html>
    <head>
        <title>Gym Manager</title>

<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Red+Hat+Display:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" href={{ url_for('static', filename='css/style.css' )}}>
<link rel="stylesheet" href={{ url_for('static', filename='css/classes.css' )}}>
    </head>
        <header class="header">
            <img class="logo" src="images/logo.png" alt="logo">
            <nav>
                <ul class="nav__links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/members">Members</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/bookings">Bookings</a></li>
                </ul>
            </nav>
            <a class='cta' href="#"><button>Contact</button></a>
        </header>
    <body>
        <main>
            <section>

            </section>
        </main>
    </body>
</html-->

<html>
  <body style="margin: 0;">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Red+Hat+Display:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{ url_for('static',
    filename='css/style.css')}}> <link rel="stylesheet" href={{
    url_for('static', filename='css/member.css')}}>
    <div class="wrapper">
      <div class="box header header-image">
        <img class="logo" id="logo" src="static/images/logo.png" alt="logo" />
        <h1>Gym Classes</h1>
      </div>
      <div class="box sidebar">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/members">Members</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/bookings">Bookings</a></li>
          </ul>
        </nav>
      </div>
      <div class="box content">
        <main>
          <section>{% block content %} {% endblock content %}</section>
        </main>
      </div>
      <div class="box footer">
          <main>
              <div class=footer>
              <h2>&copy;Gym Manager</h2>
            </div>
          </main>
      </div>
    </div>
  </body>
</html>
