<!DOCTYPE html>
<html>
    <head>
        <title>Gym Manager</title>
        <header>
            <nav>
                <ul>
                    <li><a href="Home">Home</a></li>
                    <li><a href="Members">Members</a></li>
                    <li><a href="Classes">Classes</a></li>
                </ul>
            </nav>
        </header>
    </head>
    <body>
        <main>
            <section>
                {% block content %}
                    
                {% endblock content %}
            </section>
        </main>
    </body>
</html>