{% extends 'base.html' %}

{% block content %}

<p>
    <h1>All Classes</h1>
    {% for gymclass in gymclasses %}
        <h3>{{ gymclass.activity_name }}</h3>
        <label for="start_time">Start time: {{ gymclass.start_time }}</label>
        <label for="duration">Duration: {{ gymclass.duration }}</label>
        <label for="description">Description: {{ gymclass.description }}</label>
        <a href="/classes/{{ gymclass.id }}">View members</a>
    {% endfor %}
</p>


    
{% endblock content %}